{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row" >

         <a href="{{path ('liste_race_A')}}" class="btn btn-primary">A</a>
        <a href="{{path ('liste_race_B')}}" class="btn btn-primary">B</a>
        <a href="{{path ('liste_race_C')}}" class="btn btn-primary">C</a>
        <a href="{{path ('liste_race_D')}}" class="btn btn-primary">D</a>
        <a href="{{path ('liste_race_E')}}" class="btn btn-primary">E</a>
        <a href="{{path ('liste_race_F')}}" class="btn btn-primary">F</a>
        <a href="{{path ('liste_race_G')}}" class="btn btn-primary">G</a>
        <a href="{{path ('liste_race_H')}}" class="btn btn-primary">H</a>
        <a href="{{path ('liste_race_I')}}" class="btn btn-primary">I</a>
        <a href="{{path ('liste_race_J')}}" class="btn btn-primary">J</a>
        <a href="{{path ('liste_race_K')}}" class="btn btn-primary">K</a>
        <a href="{{path ('liste_race_L')}}" class="btn btn-primary">L</a>
        <a href="{{path ('liste_race_M')}}" class="btn btn-primary">M</a>
        <a href="{{path ('liste_race_N')}}" class="btn btn-primary">N</a>
        <a href="{{path ('liste_race_O')}}" class="btn btn-primary">O</a>
        <a href="{{path ('liste_race_P')}}" class="btn btn-primary">P</a>
        <a href="{{path ('liste_race_Q')}}" class="btn btn-primary">Q</a>
        <a href="{{path ('liste_race_R')}}" class="btn btn-primary">R</a>
        <a href="{{path ('liste_race_S')}}" class="btn btn-primary">S</a>
        <a href="{{path ('liste_race_T')}}"class="btn btn-primary">T</a>
        <a href="{{path ('liste_race_U')}}" class="btn btn-primary">U</a>
        <a href="{{path ('liste_race_V')}}" class="btn btn-primary">V</a>
        <a href="{{path ('liste_race_W')}}" class="btn btn-primary">W</a>
        <a href="{{path ('liste_race_X')}}" class="btn btn-primary">X</a>
        <a href="{{path ('liste_race_Y')}}" class="btn btn-primary">Y</a>
        <a href="{{path ('liste_race_Z')}}" class="btn btn-primary">Z</a>

    </div>
</div>

    <div class="container">
        <h1 class="my-3">Voici les races de chats :</h1>

       {% if racesJ | length == 0 %}
        
            <h1 class="my-3">Aucun résultat pour votre recherche</h1>
            {% else %}

            <div class="row">

            {% for raceJ in racesJ %}

                <div class ="col-md-4 mb-3">
	                <div class="card border-dark mb-3">
		                <div class="card-header text-center"><strong>{{raceJ.libelle}}</strong>
		                </div>
                            <div class="card-body">
		                       <img src= "{{raceJ.urlImage}}" alt="Image de chat" style="height:200px; width:100%; display:block">	
                            </div>                     
                    </div>
                 </div>   
            {% endfor %}
            </div>
            {% endif %}
    </div>
</div>

{% endblock %}
